<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <!-- q복잡한 html-->
        <local-component></local-component>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        import LocalComponent from './localComponent.js';
        const {createApp } = Vue;


        createApp({
            components:{
                LocalComponent
            },
            setup() {
                
            }
        }).mount('#app');
    </script>
</body>
</html>